spacy==3.7.5
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
pke @ git+https://github.com/boudinfl/pke@69871ff
keybert==0.8.4
yake @ git+https://github.com/LIAAD/yake@0fa58cc
pyate==0.5.5
rake-nltk==1.0.6
summa==1.2.0